<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Package source" value="C:\Users\l.ourvouai\source\repos\XrmFrameworkFork\src\GeneratedNuGetPackages\Release" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
